{% block content %}

  <section class="home-hero">

    <div class="inner">

      <h1>Life of an App</h1>

      <h6>A full day conference full of high level insight and discussion around one of the largest growing industries - mobile apps.</h6>

    </div>

  </section>

  <section class="home-landmarks">

    <ul class="landmarks-list">
      <li class="landmark-pair">
        <div class="landmark--a"></div>
        <p class="landmark-title--a">concept</p>
      </li>
      <li class="landmark-pair">
        <div class="landmark--b"></div>
        <p class="landmark-title--b">design</p>
      </li>
      <li class="landmark-pair">
        <div class="landmark--c"></div>
        <p class="landmark-title--c">architecture</p>
      </li>
      <li class="landmark-pair">
        <div class="landmark--d"></div>
        <p class="landmark-title--d">development</p>
      </li>
      <li class="landmark-pair">
        <div class="landmark--e"></div>
        <p class="landmark-title--e">revenue</p>
      </li>
      <li class="landmark-pair">
        <div class="landmark--f"></div>
        <p class="landmark-title--f">go-to-market</p>
      </li>
    </ul>

  </section>

  <section class="home-info">

    <div class="inner">
      
      <div class="l-bucket--text">
        
        <p>The day will follow the life of an app from concept to go-to-market strategy and beyond. It will consist expert industry speakers, 5 targeted educational seminars, spotlight app demos on our Soap Box, over 60 exhibitors, a coding corner to showcase the skills of students, a rock’n after-party in the park complete with an array of food trucks and adult beverages. <br /><strong>Don’t miss the app event of the year in Florida!</strong></p>

      </div>

      <div class="grid home-features">

        <div class="grid-wholeToHalf">

          <article class="l-card--a">
        
            <h4 class="title">The <i class="icn-notepad"></i> Details</h4>

            <div class="content">

              <div class="grid feature-date">
              
                <div class="grid-oneFifth">
                  
                  <i class="icn-calendar"></i>
                
                </div>

                <div class="grid-fourFifths">

                  <ol>
                    <li>Saturday, november 16th 2013</li>
                    <li>8 am - 4:30 pm  |  main event</li>
                    <li>5 pm - 6:30 pm  |  after party</li>
                  </ol>

                </div>

              </div>

              <div class="grid feature-location">

                <div class="grid-oneFifth">

                  <i class="icn-pin"></i>

                </div>

                <div class="grid-fourFifths">

                  <ol>
                    <li>Tampa Convention Center</li>
                    <li>333 S. Franklin St.</li>
                    <li>Tampa, FL 33602</li>
                  </ol>

                </div>

              </div>
            
            </div>

          </article>

        </div>

        <div class="grid-wholeToHalf">

          <article class="l-card--b">
        
            <h4 class="title">Quick <i class="icn-eye"></i> Look</h4>

            <div class="content">
              
              <ol class="c-list--bulleted feature-list">
                <li>5 total workshop tracks</li>
                <li>1000+ visitors</li> 
                <li>8 FREE In-depth App Demos from the Soap Box</li>
                <li>Expertttpeakers</li>
                <li>60+ exhibitors</li> 
                <li>Networking around every corner</li> 
                <li>Official rock’n after-party</li> 
              </ol>
            
            </div>

          </article>

        </div>

      </div>
      
    </div>
    
  </section>

  <section class="home-cta">

    <div class="inner">

      <div class="grid">

        <p class="grid-wholeToHalf">
          Sounds awesome, right?
          <br />
          Don’t waste time, register now!</p>

        <div class="grid-wholeToHalf">

          <a href="#" class="btn--a">Register Now</a>

        </div>

      <div>

    </div>
    
  </section>

  <section class="home-why">

    <div class="inner">

      <div class="grid">

        <h2>Why attend?</h2>

        <div class="why-lines">

          <img src="{{ "why-lines.png" | asset_url }}" />

        </div>

        <div class="why-points">

          <ul class="why-list">
            <li>
              <i class="icn-website"></i>
              <p>Learn development techniques on multiple platforms, from iOS to Android, mobile-web to native.</p>
            </li>
            <li>
              <i class="icn-networking"></i>
              <p>Find Investors/Angels/Users for your app, and other invaluable contacts to set you on the right path.</p>
            </li>
            <li>
              <i class="icn-people"></i>
              <p>Get a first-hand look at the talented Florida IT workforce. Find co-founders, employees, contractors and other talent to help execute on your vision.</p>
            </li>
            <li>
              <i class="icn-app"></i>
              <p>See what your competitors are doing up-close, including behind-the-scenes peeks at their process and strategies.</p>

            </li>
            <li>
              <i class="icn-chart"></i>
              <p>Learn the tools and techniques required to turn your app into a business, and the insight and knowledge to run a successful marketing campaign.</p>
            </li>
          </ul>

        </div>

    </div>

  </section>

  <section class="home-sponsors">

    <div class="inner">

      <h2>Thank You to Our Sponsors!</h2>

      <div class="sponsor--f">

        <h5>Presenting Sponsor:</h5>

        <ul class="grid list-sponsors">
          <li class="l-card--c">
            <img src="{{ "absolute.jpg" | asset_url }}" alt="absolute mobile solutions" />
            <strong>Absolute Mobile Solutions</strong>
            <a href="http://www.absolutemobilesolutions.com"><i aria-role="hidden" data-icon="&#x62;"></i></a>
            <a href="http://twitter.com/absolutemobile"><i aria-role="hidden" data-icon="&#x74;"></i></a>
          </li>
        </ul>

      </div>

      <div class="sponsor--e">

        <h5>Platinum Sponsor:</h5>

        <ul class="grid list-sponsors">
          <li class="l-card--c">
            <img src="{{ "absolute.jpg" | asset_url }}" alt="absolute mobile solutions" />
            <strong>Absolute Mobile Solutions</strong>
            <a href="http://www.absolutemobilesolutions.com"><i aria-role="hidden" data-icon="&#x62;"></i></a>
            <a href="http://twitter.com/absolutemobile"><i aria-role="hidden" data-icon="&#x74;"></i></a>
          </li>
        </ul>

      </div>

      <div class="sponsor--d">

        <h5>Developers Soapbox Sponsor:</h5>

        <ul class="grid list-sponsors">
          <li class="l-card--c">
            <img src="{{ "absolute.jpg" | asset_url }}" alt="absolute mobile solutions" />
            <strong>Absolute Mobile Solutions</strong>
            <a href="http://www.absolutemobilesolutions.com"><i aria-role="hidden" data-icon="&#x62;"></i></a>
            <a href="http://twitter.com/absolutemobile"><i aria-role="hidden" data-icon="&#x74;"></i></a>
          </li>
        </ul>

      </div>

      <div class="sponsor--c">

        <h5>Media Sponsor:</h5>

        <ul class="grid list-sponsors">
          <li class="l-card--c">
            <img src="public/images/sponsors/tbbj.jpg" alt="Tampa Bay Business Journal">
            <strong>Tampa Bay Business Journal</strong>
            <a href="http://www.bizjournals.com/tampabay/" target="_blank"><i aria-role="hidden" data-icon="b"></i></a>
            <a href="https://twitter.com/tbbjnewsroom" target="_blank"><i aria-role="hidden" data-icon="t"></i></a>
          </li>
        </ul>

      </div>

      <div class="sponsor--b">

        <h5>Future Coder’s Corner Sponsor:</h5>

        <ul class="grid list-sponsors">
          <li class="l-card--c">
            <img src="public/images/sponsors/incepture.jpg" alt="Incepture">
            <strong>Incepture</strong>
            <a href="http://www.incepture.com/" target="_blank"><i aria-role="hidden" data-icon="b"></i></a>
            <a href="https://twitter.com/incepture" target="_blank"><i aria-role="hidden" data-icon="t"></i></a>
          </li>
        </ul>

      </div>

    </div>

  </section>

  <section class="home-attending">

    <div class="inner">

      <h2>Attendees</h2>

      <ul class="grid list-attendees">
        <li class="l-card--c">
          <img src="{{ "https://si0.twimg.com/profile_images/2772934591/d4889bf90135caea442cdfe8d0827129.jpeg" | asset_url }}" alt="Shawn Berg" />
          <strong>Shawn Berg</strong>
          <p class="attendee-title">Squirrel Wrangler</p>
          <p class="attendee-company">Coffee &amp; Plaid</p>
          <a href="http://www.absolutemobilesolutions.com"><i aria-role="hidden" data-icon="&#x62;"></i></a>
          <a href="http://twitter.com/absolutemobile"><i aria-role="hidden" data-icon="&#x74;"></i></a>
        </li>
        <li class="l-card--c">
          <img src="{{ "https://si0.twimg.com/profile_images/2772934591/d4889bf90135caea442cdfe8d0827129.jpeg" | asset_url }}" alt="Shawn Berg" />
          <strong>Shawn Berg</strong>
          <p class="attendee-title">Squirrel Wrangler</p>
          <p class="attendee-company">Coffee &amp; Plaid</p>
          <a href="http://www.absolutemobilesolutions.com"><i aria-role="hidden" data-icon="&#x62;"></i></a>
          <a href="http://twitter.com/absolutemobile"><i aria-role="hidden" data-icon="&#x74;"></i></a>
        </li>
        <li class="l-card--c">
          <img src="{{ "https://si0.twimg.com/profile_images/2772934591/d4889bf90135caea442cdfe8d0827129.jpeg" | asset_url }}" alt="Shawn Berg" />
          <strong>Shawn Berg</strong>
          <p class="attendee-title">Squirrel Wrangler</p>
          <p class="attendee-company">Coffee &amp; Plaid</p>
          <a href="http://www.absolutemobilesolutions.com"><i aria-role="hidden" data-icon="&#x62;"></i></a>
          <a href="http://twitter.com/absolutemobile"><i aria-role="hidden" data-icon="&#x74;"></i></a>
        </li>
        <li class="l-card--c">
          <img src="{{ "https://si0.twimg.com/profile_images/2772934591/d4889bf90135caea442cdfe8d0827129.jpeg" | asset_url }}" alt="Shawn Berg" />
          <strong>Shawn Berg</strong>
          <p class="attendee-title">Squirrel Wrangler</p>
          <p class="attendee-company">Coffee &amp; Plaid</p>
          <a href="http://www.absolutemobilesolutions.com"><i aria-role="hidden" data-icon="&#x62;"></i></a>
          <a href="http://twitter.com/absolutemobile"><i aria-role="hidden" data-icon="&#x74;"></i></a>
        </li>
        <li class="l-card--c">
          <img src="{{ "https://si0.twimg.com/profile_images/2772934591/d4889bf90135caea442cdfe8d0827129.jpeg" | asset_url }}" alt="Shawn Berg" />
          <strong>Shawn Berg</strong>
          <p class="attendee-title">Squirrel Wrangler</p>
          <p class="attendee-company">Coffee &amp; Plaid</p>
          <a href="http://www.absolutemobilesolutions.com"><i aria-role="hidden" data-icon="&#x62;"></i></a>
          <a href="http://twitter.com/absolutemobile"><i aria-role="hidden" data-icon="&#x74;"></i></a>
        </li>
        <li class="l-card--c">
          <img src="{{ "https://si0.twimg.com/profile_images/2772934591/d4889bf90135caea442cdfe8d0827129.jpeg" | asset_url }}" alt="Shawn Berg" />
          <strong>Shawn Berg</strong>
          <p class="attendee-title">Squirrel Wrangler</p>
          <p class="attendee-company">Coffee &amp; Plaid</p>
          <a href="http://www.absolutemobilesolutions.com"><i aria-role="hidden" data-icon="&#x62;"></i></a>
          <a href="http://twitter.com/absolutemobile"><i aria-role="hidden" data-icon="&#x74;"></i></a>
        </li>
        <li class="l-card--c">
          <img src="{{ "https://si0.twimg.com/profile_images/2772934591/d4889bf90135caea442cdfe8d0827129.jpeg" | asset_url }}" alt="Shawn Berg" />
          <strong>Shawn Berg</strong>
          <p class="attendee-title">Squirrel Wrangler</p>
          <p class="attendee-company">Coffee &amp; Plaid</p>
          <a href="http://www.absolutemobilesolutions.com"><i aria-role="hidden" data-icon="&#x62;"></i></a>
          <a href="http://twitter.com/absolutemobile"><i aria-role="hidden" data-icon="&#x74;"></i></a>
        </li>
        <li class="l-card--c">
          <img src="{{ "https://si0.twimg.com/profile_images/2772934591/d4889bf90135caea442cdfe8d0827129.jpeg" | asset_url }}" alt="Shawn Berg" />
          <strong>Shawn Berg</strong>
          <p class="attendee-title">Squirrel Wrangler</p>
          <p class="attendee-company">Coffee &amp; Plaid</p>
          <a href="http://www.absolutemobilesolutions.com"><i aria-role="hidden" data-icon="&#x62;"></i></a>
          <a href="http://twitter.com/absolutemobile"><i aria-role="hidden" data-icon="&#x74;"></i></a>
        </li>
      </ul>

    </div>

  </section>

{% endblock %}